/* load font style */
body {
    font-family: 'Press Start 2P', cursive, Fallback, sans-serif;
}

/* centers the canvas */ /* this is affecting how the buttons are rendering on screen */
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* centers h1 title text */
#game-title {
    color: white;
    position: absolute;
    left: 50%;
    margin-left: -200px;
}​
/*#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}*/