/* load font style */
body {
    font-family: 'Press Start 2P', cursive, Fallback, sans-serif;
}
/* centers the canvas */ /* this is affecting how the buttons are rendering on screen */
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* on mobile */
#on-mobile{
    color: white;
    text-align: center;
    width: 800px;
    height: 600px;
    display: none;
    margin: auto;
    position: absolute;
}
/* instructions */
#instructions {
    margin: auto;
    margin-right: 15px;
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    right: 77%;
    top: 12%;
    color:white;
}
/* button position */
#button-div {
    margin: auto;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 82%;
    top: 15%;
}
/* button style */
#button{
    font-family: 'Press Start 2P', cursive, Fallback, sans-serif;
    color: white;
    background-color: black;
    border-radius: 10px, 10px, 10px, 10px;
    border-width: 0 0 3px;
    border-style: none;
    cursor: pointer;
}
/* creates border on hover */
#button:hover {
    border: 1px solid;
    border-width: 5px;
    border-color: white;
}
/* centers h1 title text */
#game-title {
    color: white;
    position: absolute;
    left: 50%;
    margin-left: -200px;
}
@media only screen and (max-device-width: 900px){
    #game-title{
        font-size: 15px;
    }
    canvas, #button-div, #instructions {
        display: none;
    }
    #on-mobile {
        display:block;
        width: 800px;
        height: 600px;
    }
}